<launch>
  <arg name="fixed_frame_id" default="world"/>
  <arg name="calibration_file"
    default="$(find msckf_vio)/config/camchain-imucam-triclops2.yaml"/>

  <!-- Image Processor Nodelet  -->
  <node pkg="nodelet" type="nodelet" name="image_processor"
    args="standalone msckf_vio/ImageProcessorNodelet"
    required="true"
    output="screen">

    <rosparam command="load" file="$(arg calibration_file)"/>
    <param name="grid_row" value="4"/>
    <param name="grid_col" value="5"/>
    <param name="grid_min_feature_num" value="3"/>
    <param name="grid_max_feature_num" value="4"/>
    <param name="pyramid_levels" value="3"/>
    <param name="patch_size" value="15"/>
    <param name="fast_threshold" value="10"/>
    <param name="max_iteration" value="30"/>
    <param name="track_precision" value="0.01"/>
    <param name="ransac_threshold" value="3"/>
    <param name="stereo_threshold" value="5"/>

    <!-- Remap node's input topics to dataset topics -->
    <remap from="~imu" to="/gvio/xsens/imu"/>
    <remap from="~cam0_image" to="/gvio/cam0/image"/>
    <remap from="~cam1_image" to="/gvio/cam1/image"/>
    <remap from="~gimbal" to="/gvio/gimbal/joint_angle"/>
  </node>

  <!-- <!&#45;&#45; Msckf Vio Nodelet  &#45;&#45;> -->
  <!-- <node pkg="nodelet" type="nodelet" name="vio" -->
  <!--   args='standalone msckf_vio/MsckfVioNodelet' -->
  <!--   required="true" -->
  <!--   output="screen"> -->
  <!--  -->
  <!--   <!&#45;&#45; Calibration parameters &#45;&#45;> -->
  <!--   <rosparam command="load" file="$(arg calibration_file)"/> -->
  <!--  -->
  <!--   <param name="publish_tf" value="true"/> -->
  <!--   <param name="frame_rate" value="20"/> -->
  <!--   <param name="fixed_frame_id" value="$(arg fixed_frame_id)"/> -->
  <!--   <param name="child_frame_id" value="odom"/> -->
  <!--   <param name="max_cam_state_size" value="20"/> -->
  <!--   <param name="position_std_threshold" value="8.0"/> -->
  <!--  -->
  <!--   <param name="rotation_threshold" value="0.2618"/> -->
  <!--   <param name="translation_threshold" value="0.4"/> -->
  <!--   <param name="tracking_rate_threshold" value="0.5"/> -->
  <!--  -->
  <!--   <!&#45;&#45; Feature optimization config &#45;&#45;> -->
  <!--   <param name="feature/config/translation_threshold" value="&#45;1.0"/> -->
  <!--  -->
  <!--   <!&#45;&#45; These values should be standard deviation &#45;&#45;> -->
  <!--   <param name="noise/gyro" value="0.1"/> -->
  <!--   <param name="noise/acc" value="0.1"/> -->
  <!--   <param name="noise/gyro_bias" value="0.05"/> -->
  <!--   <param name="noise/acc_bias" value="0.05"/> -->
  <!--   <param name="noise/feature" value="0.004"/> -->
  <!--  -->
  <!--   <param name="initial_state/velocity/x" value="0.0"/> -->
  <!--   <param name="initial_state/velocity/y" value="0.0"/> -->
  <!--   <param name="initial_state/velocity/z" value="0.0"/> -->
  <!--  -->
  <!--   <!&#45;&#45; These values should be covariance &#45;&#45;> -->
  <!--   <param name="initial_covariance/velocity" value="0.5"/> -->
  <!--   <param name="initial_covariance/gyro_bias" value="0.01"/> -->
  <!--   <param name="initial_covariance/acc_bias" value="0.01"/> -->
  <!--   <param name="initial_covariance/extrinsic_rotation_cov" value="3.0e&#45;1"/> -->
  <!--   <param name="initial_covariance/extrinsic_translation_cov" value="2.5e&#45;1"/> -->
  <!--  -->
  <!--   <!&#45;&#45; Remap node's input topics to dataset topics &#45;&#45;> -->
  <!--   <remap from="~imu" to="/gvio/xsens/imu"/> -->
  <!--   <remap from="~features" to="image_processor/features"/> -->
  <!-- </node> -->

  <!--
  <node name="rvizvisualisation"
        pkg="rviz"
        type="rviz"
        output="log"
        args="-d $(find msckf_vio)/rviz/rviz_triclops_config.rviz"
        required="true" />
  -->

</launch>
